doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Digital Trend
        link(rel="shortcut icon" href="../../src/img/female-avatar.png" type="image/x-icon")
        link(rel="stylesheet" href="../../src/styles/styles.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    body 
        header
            .container 
                .logo 
                    a(href="#") Digital Trend 
                nav 
                    ul.nav__ul
                        li
                            a(href="#") Hello
                        li 
                            a(href="#") Our Works
                        li 
                            a(href="#") Blog 
                        li 
                            a(href="#") Contact 
                    .button__box 
                        .my-button
                            .btn-elem

        main 
            .container 
                .main__menu
                    h1.gs_reveal We are ready for your digital marketing
                    .contact.featured-image-container.ipsGrid_span5.gs_reveal.gs_reveal_fromLeft 
                        button Let us discuss together!
                        a(href="tel:+998991001879")
                            .fa-solid.fa-phone
                            span +99 000 070 4224

        section.about
            .container
                .about__texts.gs_reveal 
                    h1 the best <span>Digital Marketing agency</span> in Rio de Janeiro 
                    p 
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Ullam amet, officia ducimus exercitationem tenetur quidem.
                    p 
                        | Dolor sit <span>Lorem, ipsum</span> amet consectetur adipisicing elit.
                        | Laboriosam cupiditate excepturi, molestiae animi aut et? 
                        | Soluta aperiam sapiente accusamus, impedit omnis praesentium
                        | nam sunt

        section.slider 
            .container 
                h1.gs_reveal.gs_reveal_fromRight Please take a look through our 
                    span featured Digital Trends
                .swiper.mySwiper.gs_reveal 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="../../src/img/project/project-image04.jpg" alt="project")
                            .box 
                                .text 
                                    p Select Mode
                                    h1 Race Bicycle 
                                a(href="#") 
                                    <i class="fa-solid fa-chevron-right"></i>
                        .swiper-slide
                            img(src="../../src/img/project/project-image01.jpg" alt="project")
                            .box 
                                .text 
                                    p Select Mode
                                    h1 Race Bicycle 
                                a(href="#") 
                                    <i class="fa-solid fa-chevron-right"></i>
                        .swiper-slide
                            img(src="../../src/img/project/project-image02.jpg" alt="project")
                            .box 
                                .text 
                                    p Select Mode
                                    h1 Race Bicycle 
                                a(href="#") 
                                    <i class="fa-solid fa-chevron-right"></i>
                        .swiper-slide
                            img(src="../../src/img/project/project-image03.jpg" alt="project")
                            .box 
                                .text 
                                    p Select Mode
                                    h1 Race Bicycle 
                                a(href="#") 
                                    <i class="fa-solid fa-chevron-right"></i>
                        .swiper-slide
                            img(src="../../src/img/project/project-image05.jpg" alt="project")
                            .box 
                                .text 
                                    p Select Mode
                                    h1 Race Bicycle 
                                a(href="#") 
                                    <i class="fa-solid fa-chevron-right"></i>
                    .swiper-pagination


        section.client 
            .container 
                .client__text.gs_reveal.gs_reveal_fromRight
                    h3 Client testimonials
                    p 
                        | Lorem, ipsum dolor sit amet consectetur adipisicing natus
                        | elit. Iste quibusdam id rerum natus impedit numquam 
                        h6 
                            span Hello World 
                            | / Digital Agency IDRB

        footer 
            .container__footer 
                .footer__box
                    .footer__box-top 
                        h1.gs_reveal.gs_reveal_fromLeft We make creative 
                            span brands 
                            | only
                        .footer__top-menu  
                            .footer__contact.gs_reveal.gs_reveal_fromLeft 
                                h3 contact info 
                                .contact__box 
                                    a(href="tel:+998991001879")
                                        .fa-solid.fa-phone
                                        span +99 000 070 4224
                                    a(href="mailto:abilkosimovsarkor@gmail.com")
                                        .fa-solid.fa-envelope
                                        span hello@comunity.com
                            .footer__adress.gs_reveal.gs_reveal_fromRight
                                h3 our studio 
                                .adress__box 
                                    span.fa-sharp.fa-solid.fa-house
                                    p Lorem ipsum dolor consectetur adipisicing elit. Lorem, ipsum dolor.

                    .footer__box-bottom 
                        p Copyright © 2020 Your Company Design TemplateMo
                        nav 
                            ul  
                                li  
                                    a(href="#") Stories
                                li  
                                    a(href="#") Work with us
                                li  
                                    a(href="#") Privacy
                        .footer__social
                            a(href="#")
                                .fa-brands.fa-instagram
                            a(href="#")
                                .fa-brands.fa-twitter
                            a(href="#")
                                .fa-brands.fa-facebook
                            a(href="#")
                                .fa-brands.fa-linkedin


    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js")
    script(src="../../src/scripts/script.js") 

