html,
body {
    .swiper {
        max-width: 700px;
        width: 97%;
        height: 420px;
        border-radius: 8px;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: end;
            -ms-flex-align: end;
            -webkit-align-items: end;
            align-items: flex-end;
            position: relative;
            img {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }
            .box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 95%;
                padding: 25px 20px;
                background: #fff;
                border-radius: 5px;
                position: absolute;
                z-index: 1;
                margin-bottom: 34px;
                .text {
                    text-align: left;
                    font-weight: 500;
                    p {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    h1 {
                        color: #1a7481;
                        font-size: 30px;
                    }
                }
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #1a7481;
                    color: white;
                    border: 1px solid gray;
                }
                a:hover {
                    transition: 0.3s;
                    background: white;
                    color: #1a7481;
                }
            }
        }
    }
}

.gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
}
